<h1>The List Of Recipes:</h1>

<!-- <table>
  <thead>
    <th>Name</th>
    <th>ingredients</th>
    <th>cook_time</th>
    <th>Action</th>
  </thead> -->
  <!-- <tbody> -->
    <p><% @recipes.each do |r| %></p>
        <p><%= r.name %></p>
        <p><%= r.ingredients %></p>
        <p><%= r.cook_time %></p>
        <p><a href="/recipes/<%= r.id %>"</p>
    <p><% end %>
  <!-- </tbody>
</table> -->
