<h1>The List Of Recipes:</h1>

<!-- <table>
  <thead>
    <th>Name</th>
    <th>ingredients</th>
    <th>cook_time</th>
    <th>Action</th>
  </thead> -->
  <!-- <tbody> -->
    <p><%= @recipes%></p>

  <!-- </tbody>
</table> -->
